.forecast-card {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  min-width: 220px;
  background: #2BC0E4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(-15deg, #2BC0E4,#EAECC6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(-15deg, #2BC0E4,#EAECC6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 5px;
  margin: 10px;
}

.forecast-icon {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.forecast-description {
  font-size: 20px;
  text-align: center;
}

.forecast-item {
  display: flex;
  justify-content: space-between;

}

.forecast-title {
  text-align: center;
  
}
